<section>
  <div class="pb-[450px]">
    <div class="flex flex-col items-center pt-[138px] pb-[223px]">
      <div class="w-[572px]">
        <h1 class="mb-10 w-full text-start text-[56px] text-my-tertiary">
          評審機制
        </h1>
        <p class="text-start text-2xl text-white">
          初選：<br />
          將由六角學院前端、UI 評審進行第一波篩選， 並於
          12/5（五）公布初選佳作名單
        </p>
        <br />
        <p class="text-start text-2xl text-white">
          決選：<br />
          由三大企業針對該企業主題進行入圍獎最後篩選， 並於
          12/23（五）公布企業得獎名單
        </p>
      </div>
    </div>
    <div class="flex flex-col items-center pb-[84px]">
      <div class="w-[650px]">
        <h1 class="mb-10 w-full text-start text-[56px] text-my-tertiary">
          獎項
        </h1>
        <div class="flex items-center mb-12">
          <div class="mr-5 h-3 w-3 bg-white">
            <img src="" alt="" />
          </div>
          <p class="text-start text-4xl text-white">
            初選佳作 共六十位 <span class="text-my-primary">數位獎狀</span>
            <br />
            <span class="text-2xl"> 每週主題個人組十位、團體組十組 </span>
          </p>
        </div>
        <div class="flex items-center mb-12">
          <div class="mr-5 h-3 w-3 bg-white">
            <img src="" alt="" />
          </div>
          <p class="text-start text-4xl text-white">
            個人企業獎 共六位
            <span class="text-my-primary">NTD 3,000/位</span>
            <br />
            <span class="text-2xl">
              每週主題各 2 名，設計 1 位、前端 1 位
            </span>
          </p>
        </div>
        <div class="flex items-center mb-12">
          <div class="mr-5 h-3 w-3 bg-white">
            <img src="" alt="" />
          </div>
          <p class="text-start text-4xl text-white">
            團體企業獎 共三組 <span class="text-my-primary">NTD 10,000/組</span>
            <br />
            <span class="text-2xl"> 每週主題各 1 組 </span>
          </p>
        </div>
        <div class="flex items-center mb-12">
          <div class="mr-5 h-3 w-3 bg-white">
            <img src="" alt="" />
          </div>
          <p class="text-start text-4xl text-white">以上皆提供完賽數位獎狀</p>
        </div>
      </div>
    </div>
  </div>
</section>
