@use "./font";

.myproj-text-primary {
  color: #b82a06;
}
.myproj-text-secondary {
  color: #3c0c00;
}
.myproj-text-light-grey {
  color: #dcdcdc;
}
.myproj-text-tertiary {
  color: #ffb3a4;
}
.myproj-text-black {
  color: #000000;
}
.myproj-text-blue {
  color: #0061a1;
}
.myproj-text-green {
  color: #c7ffa3;
}
