<section class="relative">
  <div
    class="flex flex-col items-center bg-my-primary px-16 pt-[50px] pb-[100px]"
  >
    <div class="mb-[150px] flex w-full max-w-[768px] flex-col justify-center relative z-10">
      <h1 class="mb-12 text-4xl text-white">
        <span class="text-my-tertiary">鑽石級</span>贊助商
      </h1>
      <div class="flex justify-between">
        <div class="h-[200px] w-[200px] bg-white p-5 hover:scale-105 hover:rotate-[10deg] duration-200">
          <div class="h-full w-full flex justify-center items-center">
            <img src="assets/img/sponsor/blockstudio_logo.png" alt="" />
          </div>
        </div>

        <div class="h-[200px] w-[200px] bg-white p-5 hover:scale-105 hover:rotate-[10deg] duration-200">
          <div class="h-full w-full flex justify-center items-center">
            <img src="assets/img/sponsor/titan_logo.png" alt="" />
          </div>
        </div>

        <div class="h-[200px] w-[200px] bg-white p-5 hover:scale-105 hover:rotate-[10deg] duration-200">
          <div class="h-full w-full flex justify-center items-center">
            <img src="assets/img/sponsor/kdan_logo.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="mb-[150px] flex w-full max-w-[768px] flex-col justify-center relative z-10">
      <h1 class="mb-12 text-4xl text-white">共同推廣</h1>
      <div class="flex justify-between">
        <div class="h-[200px] w-[200px] bg-white p-5 hover:scale-105 hover:rotate-[10deg] duration-200">
          <div class="h-full w-full flex justify-center items-center">
            <img src="assets/img/sponsor/jira.png" alt="" />
          </div>
        </div>

        <div class="h-[200px] w-[200px] bg-white p-5 hover:scale-105 hover:rotate-[10deg] duration-200">
          <div class="h-full w-full flex justify-center items-center">
            <img src="assets/img/sponsor/miro.png" alt="" />
          </div>
        </div>

        <div class="h-[200px] w-[200px] bg-white p-5 hover:scale-105 hover:rotate-[10deg] duration-200">
          <div class="h-full w-full flex justify-center items-center">
            <img src="assets/img/sponsor/dottedSign.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="w-full h-full absolute z-0 top-0 diamonds overflow-hidden">
      <div class="diamond1">
        <img src="assets/img/diamondL.png" alt="large diamond">
      </div>
      <div class="diamond2">
        <img src="assets/img/diamondL.png" alt="large diamond">
      </div>
      <div class="diamond3">
        <img src="assets/img/diamondL.png" alt="large diamond">
      </div>
      <div class="diamond4">
        <img src="assets/img/diamondL.png" alt="large diamond">
      </div>
      <div class="diamond5">
        <img src="assets/img/diamondM.png" alt="Medium diamond">
      </div>
      <div class="diamond6">
        <img src="assets/img/diamondM.png" alt="Medium diamond">
      </div>
      <div class="diamond7">
        <img src="assets/img/diamondM.png" alt="Medium diamond">
      </div>
      <div class="diamond8">
        <img src="assets/img/diamondM.png" alt="Medium diamond">
      </div>
      <div class="diamond9">
        <img src="assets/img/diamondS.png" alt="Small diamond">
      </div>
      <div class="diamond10">
        <img src="assets/img/diamondS.png" alt="Small diamond">
      </div>
      <div class="diamond11">
        <img src="assets/img/diamondS.png" alt="Small diamond">
      </div>
      <div class="diamond12">
        <img src="assets/img/diamondS.png" alt="Small diamond">
      </div>
    </div>
  </div>
</section>
