<section class="z-20 mx-auto">
  <ul class="flex w-full flex-wrap">
    <li #landingArea1 class="box relative mb-52 bg-my-primary">
      <div class="relative">
        <div #landingArea1_web class="inner-box flex items-center">
          <img class="mx-auto" src="assets/img/web.gif" alt="web" />
        </div>
        <div #landingArea1_dialog class="dialog1 absolute">
          <p class="dialog1-text text-4xl">I’m cool !</p>
        </div>
      </div>
      <div class="ease-text absolute text-white">
        <p class=" text-4xl ease-text-shadow" data-stroke="羨慕別人的酷酷網頁動畫...">羨慕別人的酷酷網頁動畫...</p>
      </div>
    </li>
    <li #landingArea2 class="box relative ml-auto mb-52 bg-my-primary">
      <div class="relative clip">
        <div class="inner-box flex items-center">
          <div #landingArea2_solder 
          style="background-image: url(assets/img/solder.png);"
          class="absolute bottom-0 right-[10%] w-[637px] h-[614px] bg-no-repeat "
          alt="web">
          </div>
        </div>
        <div #landingArea2_dialog class="dialog2 absolute">
          <p class="dialog2-text text-4xl">!@#$%...</p>
        </div>
      </div>
      <div class="ease-text-2 absolute text-white">
        <p class=" text-4xl ease-text-shadow" data-stroke="滿足不了同事的許願...">滿足不了同事的許願...</p>
      </div>
    </li>
    <li #landingArea3 class="box relative mb-52 bg-my-primary">
      <div class="relative clip">
        <div class="inner-box flex items-center">
          <img #landingArea3_tree
            class="absolute bottom-0 right-[10%]"
            src="assets/img/tree2.png"
            alt="web"
          />
          <img #landingArea3_tree_solder
            class="absolute bottom-0 left-[30%]"
            src="assets/img/tree2_solder.png"
            alt="web"
          />
        </div>
      </div>
      <div class="ease-text-3 absolute text-white">
        <p class=" text-4xl ease-text-shadow" data-stroke="動畫技能樹太雜無從下手...">動畫技能樹太雜無從下手...</p>
      </div>
    </li>
  </ul>
</section>
