.box {
  width: 980px;
  height: 570px;
  position: relative;
  .clip{
    clip-path: inset(-200px 0 0 -100px);
  }
  .inner-box {
    width: 980px;
    height: 570px;
  }
  .ease-text {
    top: 50%;
    right: -15%;
    transform: translate(0, -50%);
  }
  .ease-text-2 {
    bottom: 30%;
    left: -20%;
    transform: translate(0, -50%);
  }
  .ease-text-3 {
    bottom: 20%;
    right: -20%;
    transform: translate(0, -50%);
  }
  .ease-text-shadow{
    position: relative;
    &::before{
      content: attr(data-stroke);
      filter: blur(1px);
      position: absolute;
      z-index: -1;
      -webkit-text-stroke:7px #3c0c00;
      text-stroke: 7px #3c0c00;
    }
  }
  .dialog1 {
    width: 390px;
    height: 117px;
    background-image: url("/assets/img/dialog1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: -5%;
    right: 2%;
    .dialog1-text {
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translate(-50%);
    }
  }
  .dialog2 {
    width: 362px;
    height: 203px;
    background-image: url("/assets/img/dialog2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: -5%;
    left: -5%;
    .dialog2-text {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
