<section class="z-50">
  <div
    class="flex h-[140px] items-center justify-center bg-my-primary text-[65px]"
  >
    <h1 class="text-white">常見問答</h1>
  </div>
  <div class="flex justify-center pt-20">
    <div class="px-5 2xl:container">
      <div class="flex justify-between pb-20 text-4xl text-white">
        <div
          class="box-border h-[92px] w-[328px] bg-white px-8 py-6 text-my-primary transition hover:border-2 hover:border-my-primary hover:bg-my-secondary cursor-pointer"
        >
          一般常見問答
        </div>
        <div
          class="box-border h-[92px] w-[328px] bg-white px-8 py-6 text-my-primary transition hover:border-2 hover:border-my-primary hover:bg-my-secondary cursor-pointer"
        >
          UI 設計師
        </div>
        <div
          class="box-border h-[92px] w-[328px] bg-white px-8 py-6 text-my-primary transition hover:border-2 hover:border-my-primary hover:bg-my-secondary cursor-pointer"
        >
          前端工程師
        </div>
        <div
          class="box-border h-[92px] w-[328px] bg-white px-8 py-6 text-my-primary transition hover:border-2 hover:border-my-primary hover:bg-my-secondary cursor-pointer"
        >
          團體組
        </div>
      </div>
      <div>
        <div class="mb-20 text-start">
          <p class="text-2xl text-my-tertiary">
            Q：如果某一週不小心挑戰失敗，是否能再繼續挑戰後面關卡？
          </p>
          <p class="text-2xl text-white">
            A：可以，儘管那週挑戰失敗，之後您仍可以挑選喜歡的關卡進行挑戰，並在該關卡期限內繳交作品。
          </p>
        </div>
        <div class="mb-20 text-start">
          <p class="text-2xl text-my-tertiary">
            Q：大家都好強，我怕我做的東西沒有達到過關門檻，不敢登錄作品
          </p>
          <p class="text-2xl text-white">
            A：這個活動並非競爭性質，每個參賽者都是你的隊友，最大的敵人是你自己，因為你必須定期練功前端開發，讓自己能夠順利完賽。
          </p>
        </div>
        <div class="mb-20 text-start">
          <p class="text-2xl text-my-tertiary">
            Q：我不確定自己做的版型有沒有符合過關門檻，要寫到什麼程度才有到過關門檻？
          </p>
          <p class="text-2xl text-white">
            A：主辦單位其實不會去審核大家的程式碼，只要你認為當週你有針對主題有做到一定程度，就算是半完成品也請大方投稿，不用擔心。
          </p>
        </div>
        <div class="text-start">
          <p class="text-2xl text-my-tertiary">
            Q：我已經寫到一半了，但時間快來不及，可以先投稿嗎？
          </p>
          <p class="text-2xl text-white">
            A：可以，有投稿表示你還會持續努力在這次活動上。
          </p>
        </div>
      </div>
      <div class="pt-[250px] pb-[200px]">
        <div class="bg-white text-7xl text-my-primary py-7 cursor-pointer">
          <p>立即註冊報名!</p>
        </div>
      </div>
    </div>
  </div>
</section>
