<section class="z-20 mx-auto">
  <div class="sky relative 2xl:h-[4000px] lg:h-[3000px] md:h-[2000px]">
    <div class="content relative h-full w-full">
      <div class="text absolute bottom-0 z-[10]">
        <div>
          <p>互動式網頁設計</p>
        </div>
        <p>UI、前端接力合作，一同產出完整作品。</p>
      </div>
      <div class="absolute bottom-0 left-0 z-[20] h-screen w-full">
        <div
          class="absolute right-0 bottom-0 h-3/4 w-full bg-no-repeat bg-bottom bg-contain" 
          style="background-image: url(assets/img/L1.png)"
        ></div>
        <div
          class=" absolute right-0 bottom-0 h-3/4 w-2/3 bg-no-repeat bg-bottom bg-contain" 
          style="background-image: url(assets/img/L2.png)"
        ></div>
        <div
          class="absolute right-0 bottom-0 h-3/4 w-full bg-no-repeat bg-bottom bg-contain"
          style="background-image: url(assets/img/L3.png)"
        ></div>
        <div
          class="absolute right-0 bottom-0  w-full h-3/4 bg-no-repeat bg-bottom bg-contain"
          style="background-image: url(assets/img/L4.png)"
        ></div>
      </div>
    </div>
  </div>
</section>
