<section class="z-20 mx-auto">
  <div class="sky relative h-[2000px] lg:h-[2500px] 2xl:h-[3000px]">
    <div #content class="content absolute bottom-0 h-screen w-full">
      <div #headline
        class="absolute left-0 z-[20] flex w-full items-center justify-center"
      >
        <div>
          <div class="mb-6 border-4 border-white">
            <p class="px-20 py-8 text-7xl text-white">互動式網頁設計</p>
          </div>
          <p class="text-2xl text-white">
            UI、前端接力合作，一同產出完整作品。
          </p>
        </div>
      </div>
      <div class="absolute bottom-0 left-0 z-[10] h-screen w-full">
        <div
          #L1
          class="absolute right-0 bottom-0 h-screen w-full bg-contain bg-bottom bg-no-repeat"
          style="background-image: url(assets/img/L1.png)"
        ></div>
        <div
          #L2
          class="absolute right-0 bottom-0 h-screen w-2/3 bg-contain bg-right-bottom bg-no-repeat"
          style="background-image: url(assets/img/L2.png)"
        ></div>
        <div
          #L3
          class="absolute left-0 bottom-0 h-screen w-2/3 bg-contain bg-left-bottom bg-no-repeat"
          style="background-image: url(assets/img/L3.png)"
        ></div>
        <div
          #L4
          class="absolute right-0 bottom-0 h-screen w-full bg-contain bg-bottom bg-no-repeat"
          style="background-image: url(assets/img/L4.png)"
        ></div>
      </div>
    </div>
  </div>
  <div class="h-[40vh] bg-black"></div>
</section>
