<section
  class="flex items-center justify-center bg-black pt-[300px] pb-[450px]"
>
  <ul #ul class="relative text-white ml-[68px]">
    <li class="relative ml-[70px] mb-[328px] py-5 px-4">
      <div class="text-start">
        <h1 class="mb-10 text-7xl text-my-tertiary">Sign Up</h1>
        <p class="text-2xl">開放報名：</p>
        <p class="mb-10 text-2xl">10/13(四) 早上 11:00 - 11/6(日) 晚上 23:59</p>
        <p class="text-2xl">截止前可修改報名組別。</p>
      </div>
    </li>
    <li class="relative ml-[70px] mb-[328px] py-5 px-4">
      <div class="text-start">
        <h1 class="mb-24 text-7xl text-my-tertiary">Start!</h1>
        <p class="text-2xl">各組別開賽：</p>
        <p class="text-2xl">UI組、團體組開賽 10/31、前端組開賽 11/7</p>
      </div>
      <div class="absolute left-[-128px] top-0">
        <div #enemy>
          <img src="assets/img/silver.png" alt="silver" />
        </div>
        <div #explo class="hidden h-20 w-20">
          <img src="assets/img/explosion.gif" alt="explo" />
        </div>
      </div>
    </li>
    <li class="relative ml-[70px] mb-[328px] py-5 px-4">
      <div class="text-start">
        <h1 class="mb-24 text-7xl text-my-tertiary">UPLOAD!</h1>
        <p class="text-2xl">登陸作品：</p>
        <p class="text-2xl">10/31(一) 中午 12:00 - 11/28(一) 中午 12:00</p>
      </div>
      <div class="absolute left-[-128px] top-0">
        <div #enemy>
          <img src="assets/img/green.png" alt="green" />
        </div>
        <div #explo class="hidden h-20 w-20">
          <img src="assets/img/explosion.gif" alt="explo" />
        </div>
      </div>
    </li>
    <li class="relative ml-[70px] py-5 px-4">
      <div class="text-start">
        <h1 class="mb-10 text-7xl text-my-tertiary">STREAM!</h1>
        <p class="text-2xl">資深開發者到來 ，直播分享零阻礙！</p>
        <p class="mb-10 text-2xl">10/13 線上直播：</p>
        <p class="text-2xl">11/3 - 11/24（每週四）</p>
      </div>
      <div class="absolute left-[-128px] top-0">
        <div #enemy>
          <img src="assets/img/red.png" alt="red" />
        </div>
        <div #explo class="hidden h-20 w-20">
          <img src="assets/img/explosion.gif" alt="explo" />
        </div>
      </div>
    </li>
    <div #tank class="absolute top-0 left-[-10%] z-10">
      <img class="relative z-10" src="assets/img/tank_st.gif" alt="tank_st" />
      <div #bullet class="absolute right-[50%] translate-x-[50%] rotate-180">
        <img src="assets/img/bullet.png" alt="bullet" />
      </div>
    </div>
  </ul>
</section>
